<div class="row">
    <div class="col-3">
        <p>管理籍</p>
    </div>
    <div class="col-9">
        <p>{{ item.kanri }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>製品名</p>
    </div>
    <div class="col-9">
        <p>{{ item.name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>中型</p>
    </div>
    <div class="col-9">
        <p>{{ item.naka }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>フレーム</p>
    </div>
    <div class="col-9">
        <p>{{ item.hure }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>フレーム高さ移動側</p>
    </div>
    <div class="col-9">
        <p>{{ item.idou }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>フレーム高さ固定側</p>
    </div>
    <div class="col-9">
        <p>{{ item.kotei }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>他社金型</p>
    </div>
    <div class="col-9">
        <p>{{ item.get_hoka_display }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>成型機</p>
    </div>
    <div class="col-9">
        <p>{{ item.seikei }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>製品図面</p>
    </div>
    <div class="col-9">
        <p>{{ item.get_zumen_display }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>備考</p>
    </div>
    <div class="col-9">
        <p>{{ item.memo|linebreaksbr }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>製造日</p>
    </div>
    <div class="col-9">
        <p>{{ item.created_at|date:"Y/m/d " }}</p>
    </div>
</div>